
#head{
    display: flex;
    width: 70%;
    margin: auto;
    padding: 100px 0px 0px 0px;
}
#right,#left,#play{
    /* border: 1px solid; */
    width: 50%;

}

#left>h2{
font-size: 52px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#left>p{
    margin-top: 40px;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     
}

#right>#avatar{
    width: 100%;
    z-index: -1;
}

#middle{
    width: 70%;
    margin: auto;
    padding: 100px 0px 20px 0px;
}
#middle>.h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    
}

#logo{
    width: 85px;
    height: 45px;
    /* border: 1px solid; */
    margin: auto;
}
#logos{
    padding: 20px 0px 20px 0px;
width: 100%;
display: grid;
grid-template-columns: repeat(6, 1fr);
gap: 30px;
/* border: 1px solid; */
}

#Eimg{
    width: 200px;
}

*{
    box-sizing: border-box;
}



.merge{
     /* width: 800px; */
    /*height: 70vh; */
/* background-color: rgb(250, 230, 233); */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; 

} 

.swiper{
    width: 50%;
    height: fit-content;
  
}

.swiper-wrapper{
display: flex;
}


.swiper-slide img {
    width: 450px;
    height: 350px;
    display: flex;
   
}

.swiper-slide {
    background-color: rgb(250, 230, 233);
    padding: 50px ;
   width: 800px;
    display: flex;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
 
}

.reveiw{
   margin-left: 50px;
   margin-right: 50px;
}


.reveiw>p{
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(119, 117, 117);
    letter-spacing: 2px;
}

.reveiw>strong{
    margin-top: 40px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: #000;
    letter-spacing: 2px;
}
.reveiw>span{
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: #000;
    letter-spacing: 2px;
}

.reveiw>#com{ 
    width: 200px;
    height: 100px;
    /* border: 1px solid; */
}

#next{
  /* padding: 10px ; */
    /* background-color: #000; */
    /* border: 1px solid; */
    color: rgb(3, 66, 122);
    font-weight: bold;
    margin-top: 20px;
}
/* .......con */

#con{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 80%;
    margin: auto;
}


.univers{
    height: 250px;
    width: 80%;
    /* border: 1px solid; */
    margin: auto;
}
#com{
    margin-bottom: 20px;
}
.ht{
    width: 60%;
    margin: auto;
}
#blue{
   padding: 100px 0px 100px 0;
    background-image: url("https://www.xmple.com/wallpaper/linear-blue-gradient-black-2200x2480-c2-03040e-080a51-a-315-f-14.svg");
    border: 1px solid ;
    /* margin-top: 50%; */
  
    
}
.teal{
    width: 60%;
    color: white;
    margin: auto;
    display: flex;
}
.column{
   margin-left: 20px;
}
.reason{
    margin-top: 50px;
   text-align: center;
}

#play{
    width: 80%;
    height: 50%;
    margin: auto;
    position:absolute;
    top:40%;
    left: 10%;
    border: none;
   
}
#avatar{
position: relative;
top: 0;
left: 0;
}

