
/* #anvy{
    margin-top: 100px;
    margin-bottom: 100px;
} */
/* #navbar1{
    margin-top: -100px;
} */

/* *{
    margin: 0px;
    padding: 0;
} */

/* #navbar1{
    margin-top: -20px;
} */
#middle{
    
    margin: auto;
    margin-top: 50px;
    
    text-align: center;
}
#middle>h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #234567;
    font-size: 40px;
    font-weight: bolder;
    
    
}
#middle>h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #234567;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 20px;
    
    
}


#logos{
    
width: 65%;

margin: auto;
margin-top: 25px;
margin-bottom: 20px;
display: flex;
gap: 15px;



/* border: 1px solid; */
}
#logo-1{
    width: 75%;

margin: auto;
margin-top: 25px;
margin-bottom: 20px;
display: flex;
gap: 15px;

}
.logo-sub{
    width: 80%;

    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
}
.logo-img{
    width: 20%;
    height: 100px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    border-radius: 8px;

}
.logo-img1{
    width: 20%;
    height: 120px;
    margin: auto;
    
   
    border-radius: 8px;

}
.logo-img>img{
    margin: auto;
    margin-top: 20px;
    display: block;
    width: 100px;
    height: 50px;
    
}
.logo-img1>img{
    margin: auto;
    margin-top: 20px;
    display: block;
    width: 120px;
    height: 100%;
    
}

#success-btn{
    margin: auto;
}

/* From uiverse.io by @alexmaracinaru */
.cta {
    position: relative;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    transition: all 0.2s ease;
    border: 1px solid black;
    background: none;
    margin-bottom: 50px;
   }
   
   /* .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   } */
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #b1dae7;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }
#Eimg{
    width: 200px;
}

/* *{
    box-sizing: border-box;
} */



.merge{
     /* width: 800px; */
    /*height: 70vh; */
/* background-color: rgb(250, 230, 233); */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; 

} 

.swiper{
    width: 50%;
    height: fit-content;
  
}

.swiper-wrapper{
display: flex;
}


.swiper-slide img {
    width: 450px;
    height: 350px;
    display: flex;
   
}

.swiper-slide {
    background-color: rgb(250, 230, 233);
    padding: 50px ;
   width: 800px;
    display: flex;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
 
}

.reveiw{
   margin-left: 50px;
   margin-right: 50px;
}


.reveiw>p{
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(119, 117, 117);
    letter-spacing: 2px;
}

.reveiw>strong{
    margin-top: 40px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: #000;
    letter-spacing: 2px;
}
.reveiw>span{
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: #000;
    letter-spacing: 2px;
}

.reveiw>#com{ 
    width: 200px;
    height: 100px;
    /* border: 1px solid; */
}

#next{
  /* padding: 10px ; */
    /* background-color: #000; */
    /* border: 1px solid; */
    color: rgb(3, 66, 122);
    font-weight: bold;
    margin-top: 20px;
}
/* .......con */

#con{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 80%;
    margin: auto;
}


.univers{
    height: 250px;
    width: 80%;
    /* border: 1px solid; */
    margin: auto;
}
#com{
    margin-bottom: 20px;
}
.ht{
    width: 60%;
    margin: auto;
}
#blue{
    display: flex;
    margin: auto;
    margin-top: 50px;
    height: 400px;
    border: 1px solid ;
    background-image: linear-gradient(to right, #52386c, #201f37,#201f37,#201f37);

    /* margin-top: 50%; */
  
    
}
.blue-flex{
    width: 80%;
    
    margin: auto;
    display: flex;
    gap: 10px;
}
.teal{
    width: 35%;
    color: white;
    margin: auto;
    display: flex;
    
}
.column{
    width: 65%;
    display: flex;
    gap: 10px;

   
}
/* .bigf:hover{
  width: 100%;
  height: 100%;
} */
.column>img{
    width: 30%;
   
   
}
.reason{
    margin-top: 50px;
   text-align: center;
}

#coontact-sales{
    width: 100%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
}

.conatatct-sa{
    width: 80%;
    margin: auto;
    display: flex;
    
    padding: 15px;
    gap: 20px;
    background-image: linear-gradient(to right, #fff4f6, #fff4f6,#fff4f6,#ffd7a3);

}
.conatcact-1{
    width: 45%;
    margin: auto;
    padding: 10px;
    

}
.conatcact-1>h1{
    
    margin-top: 25px;
    font-size: 40px;
    font-weight: bolder;
}
.conatcact-1>h4{
    
    margin-top: 20px;
    font-size: 21px;
    font-weight: bolder;
}

#cntact-btn{
    
    margin-top: 20px;
    border-radius: 8px;
    background-color: transparent;
    color: #000;
    font-size: 20px;
    
}
#cntact-btn:hover{
  color: blue;
}

.conatcact-2{
    width:50%;
    margin: auto;
    
    
}
.conatcact-2>img{
    width: 38%;
    margin: auto;
    display: block;
}

#leads{
    width: 100%;
    margin: auto;
    margin-top: 50px;
}
.leads-main{
    width: 80%;
    margin: auto;
    text-align: center;
    
}
.leads-submain>h1{
    color: #234567;
    margin-top: 10px;
}
.leads-submain>h5{
    font-size: 18px;
    color: #234567;
    font-weight: lighter;
    margin-top: 10px;
}
.leads-submain1{
    
    margin-top: 50px;
}

.main-card{
    width: 100%;
    height: 650px;
    margin: auto;
    
    background-color: #ffeadc;
    border: 1px solid #ffd7a3;
}
#card-submain{
    margin: auto;
    margin-top: 70px;
    width: 80%;
    height: 500px;
    background-color: #0d1333;
    display: flex;

    gap: 20px;
}

#card-submain-1{
    width: 65%;
    padding: 50px;
    margin: auto;
    margin-top: 50px;
    text-align: left;
    color: white;
    
}
#card-submain-1>h1{
    font-size: 45px;
    font-weight: bold;
}
#card-submain-1>h2{
    margin-top: 15px;
    
}
#get-btn{
    margin-top: 25px;
    width: 200px;
    height: 50px;
    background-color: #f6c035;
    border-radius: 8px;
    color: #000;
}
#get-btn:hover{
    background-color: #e9c66e;
}

#card-submain-img{
    width: 30%;
    padding: 10px;
    
}
#card-submain-img>img{
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 20px;
    display: block;
    padding: 10px;
    
}
#pricing{
    width: 100%;
    height: 900px;
    margin: auto;
    margin-top: 10px;
   
    
}
.main-price{
    width: 80%;
    height: 100%;
    
    display: flex;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    gap: 5px;
    margin: auto;
}

#lite{
    margin: auto;
    padding: 15px;
    width: 30%;
    height: 100%;
    
}
#lite>h2{
   margin-top: 10px;
}
#lite>h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #234567;
    font-weight: lighter;
    margin-top: 10px;
   
 }
 #elite{
    margin: auto;
    padding: 15px;
    width: 30%;
    height: 100%;
    
}
#elite>h2{
   margin-top: 10px;
}
#elite>h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #234567;
    font-weight: lighter;
    margin-top: 10px;
   
 }
 #pro{
    margin: auto;
    padding: 15px;
    width: 30%;
    height: 100%;
    background-color: #f3f4ff;
}
#pro>h2{
   margin-top: 10px;
}
#pro>h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #234567;
    font-weight: lighter;
    margin-top: 10px;
   
 }


/* /* .span1{
    font-size: 50px;
    
 } */
 .span2{
    font-size: 20px;
    font-weight: 700;
    
 } 
 #pro>button{
    width: 100%;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: blue;
    color: #fff4f6;
 }
 .price-btn{
    width: 100%;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 30px;
 }
/* #elite{
    margin: auto;
    padding: 10px;
    width: 30%;
    border: 1px solid black;
}
#pro{
    margin: auto;
    padding: 10px;
    width: 30%;
    border: 1px solid black;
} */
.acces{
    margin-top: 15px;
    font-size: 15px;
    color: #0d1333;
    
}
#anvy{
    height: 70px;
    
    background-color: white;
    color: white;
    
}


#top-main{
    width: 100%;
    margin: auto;
    /* margin-top: 150px; */
    background-image: linear-gradient(to right, #fffdf9, #ffeadc,#fffdf9,#fffdf9);
    border: 1px solid whitesmoke;
}
#top-sub{
    width: 80%;
    margin: auto;
    text-align: center;
    border: transparent;
    
}

#top-sub>h1{
    margin-top: 30px;
    font-size: 40px;
    color: #0d1333;
}
#top-sub>h3{
    margin-top: 15px;
    
    font-weight: 400;
    color: gray;
}

#top-btn{
    margin-top: 80px;
    margin-bottom: 100px;
    
    
}
#top-btn>button{
    width: 220px;
   
    
    
}

#plans{
    width: 100%;
    margin: auto;
}
#plans-main{
    width: 80%;
    margin: auto;
}
#plans-sub{
    margin: auto;
    text-align: center;
}
#plans-sub>h1{
    margin: auto;
    margin-top: 70px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #201f37;
}
#plans-sub>h3{
    margin-top: 15px;
    
    font-weight: 400;
    color: gray;

}
#pro>h2+h2{
    
    width: 100%;

}
.filterDiv {
    /* float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px; */
    font-size: 50px;
   margin-top: -25px;
    display: none;
  }
  
  .show {
    display: block;
  }
  
  /* .container {
    margin-top: 20px;
    overflow: hidden;
  } */
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: rgb(24, 23, 23);
    cursor: pointer;
  }
  
  /* .btn:hover {
    background-color: #ddd;
  } */
  
  .btn.active {
    background-color: rgb(24, 23, 23);
    color: white;
  }
  .inr-d{
    display: flex;
    margin: auto;
    gap: 10px;
  }
